version: "3.9"

services:
  backend:
    container_name: event-backend
    build: .
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:7-alpine
    container_name: event-redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:16-alpine
    container_name: event-postgres
    environment:
      POSTGRES_USER: event_user
      POSTGRES_PASSWORD: event_pass
      POSTGRES_DB: event_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
